@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <span class="nav-link text-dark">Merhaba @User.FindFirst(ClaimTypes.Email)?.Value!</span>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-controller="Kullanici" asp-action="Cikis" method="post">
            <button type="submit" class="nav-link btn btn-link text-dark">Çıkış Yap</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Kullanici" asp-action="Giris">Giriş Yap</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Kullanici" asp-action="Kayit">Kayıt Ol</a>
    </li>
} 